:root {
  --vscode-actionBar-toggledBackground: #074F8166;
  --vscode-activityBar-activeBorder: #55FFCC;
  --vscode-activityBar-background: #021A2C;
  --vscode-activityBar-dropBorder: #55FFCC;
  --vscode-activityBar-foreground: #55FFCC;
  --vscode-activityBar-inactiveForeground: #336380;
  --vscode-activityBar-border: #254D6A;
  --vscode-activityBarBadge-background: #55FFCC;
  --vscode-activityBarBadge-foreground: #01121F;
  --vscode-activityBarTop-activeBorder: #55FFCC;
  --vscode-activityBarTop-dropBorder: #55FFCC;
  --vscode-activityBarTop-foreground: #55FFCC;
  --vscode-activityBarTop-inactiveForeground: #33638099;
  --vscode-activityErrorBadge-background: #D95C5C;
  --vscode-activityErrorBadge-foreground: #FFFFFF;
  --vscode-activityWarningBadge-background: #FFE073;
  --vscode-activityWarningBadge-foreground: #01121F;
  --vscode-badge-background: #55FFCC;
  --vscode-badge-foreground: #01121F;
  --vscode-banner-background: #0EADCF20;
  --vscode-banner-foreground: #B8D0E0;
  --vscode-banner-iconForeground: #22D4FF;
  --vscode-breadcrumb-activeSelectionForeground: #FFFFFF;
  --vscode-breadcrumb-background: #03233A;
  --vscode-breadcrumb-focusForeground: #FFFFFF;
  --vscode-breadcrumb-foreground: #A6BCC9;
  --vscode-breadcrumbPicker-background: #021A2C;
  --vscode-button-background: #0EADCF;
  --vscode-button-foreground: #01121F;
  --vscode-button-hoverBackground: #1FBDE0;
  --vscode-button-secondaryBackground: #254D6A;
  --vscode-button-secondaryForeground: #FFFFFF;
  --vscode-button-secondaryHoverBackground: #336380;
  --vscode-button-separator: #FFFFFF66;
  --vscode-chart-axis: #A6BCC966;
  --vscode-chart-guide: #A6BCC933;
  --vscode-chart-line: #0EADCF;
  --vscode-charts-blue: #22D4FF;
  --vscode-charts-foreground: #B8D0E0;
  --vscode-charts-green: #44FFB1;
  --vscode-charts-lines: #B8D0E080;
  --vscode-charts-orange: #FFE073;
  --vscode-charts-purple: #aa82ff;
  --vscode-charts-red: #D95C5C;
  --vscode-charts-yellow: #FFE073;
  --vscode-chat-avatarBackground: #01121F;
  --vscode-chat-avatarForeground: #B8D0E0;
  --vscode-chat-editedFileForeground: #FFE073;
  --vscode-chat-requestBackground: #074F819e;
  --vscode-chat-requestBorder: #0EADCF1a;
  --vscode-chat-slashCommandBackground: #22D4FF66;
  --vscode-chat-slashCommandForeground: #22D4FF;
  --vscode-checkbox-background: #021A2C;
  --vscode-checkbox-border: #254D6A;
  --vscode-checkbox-foreground: #B8D0E0;
  --vscode-checkbox-selectBackground: #01121Fdc;
  --vscode-checkbox-selectBorder: #0EADCF;
  --vscode-commandCenter-activeBackground: #0EADCF14;
  --vscode-commandCenter-activeBorder: #0EADCF4d;
  --vscode-commandCenter-activeForeground: #B8D0E0;
  --vscode-commandCenter-background: #0EADCF0d;
  --vscode-commandCenter-border: #0EADCF33;
  --vscode-commandCenter-debuggingBackground: #D95C5C42;
  --vscode-commandCenter-foreground: #A6BCC9;
  --vscode-commandCenter-inactiveBorder: #0EADCF26;
  --vscode-commandCenter-inactiveForeground: #A6BCC999;
  --vscode-commentsView-resolvedIcon: #A6BCC980;
  --vscode-commentsView-unresolvedIcon: #074F81;
  --vscode-debugConsole-errorForeground: #D95C5C;
  --vscode-debugConsole-infoForeground: #22D4FF;
  --vscode-debugConsole-sourceForeground: #B8D0E0;
  --vscode-debugConsole-warningForeground: #FFE073;
  --vscode-debugConsoleInputIcon-foreground: #B8D0E0;
  --vscode-debugExceptionWidget-background: #420b0d;
  --vscode-debugExceptionWidget-border: #D95C5C;
  --vscode-debugIcon-breakpointCurrentStackframeForeground: #FFE073;
  --vscode-debugIcon-breakpointDisabledForeground: #336380;
  --vscode-debugIcon-breakpointForeground: #D95C5C;
  --vscode-debugIcon-breakpointStackframeForeground: #44FFB1;
  --vscode-debugIcon-breakpointUnverifiedForeground: #336380;
  --vscode-debugIcon-continueForeground: #22D4FF;
  --vscode-debugIcon-disconnectForeground: #D95C5C;
  --vscode-debugIcon-pauseForeground: #22D4FF;
  --vscode-debugIcon-restartForeground: #44FFB1;
  --vscode-debugIcon-startForeground: #44FFB1;
  --vscode-debugIcon-stepBackForeground: #22D4FF;
  --vscode-debugIcon-stepIntoForeground: #22D4FF;
  --vscode-debugIcon-stepOutForeground: #22D4FF;
  --vscode-debugIcon-stepOverForeground: #22D4FF;
  --vscode-debugIcon-stopForeground: #D95C5C;
  --vscode-debugTokenExpression-boolean: #22D4FF;
  --vscode-debugTokenExpression-error: #D95C5C;
  --vscode-debugTokenExpression-name: #aa82ff;
  --vscode-debugTokenExpression-number: #44FFB1;
  --vscode-debugTokenExpression-string: #44FFB1;
  --vscode-debugTokenExpression-type: #0EADCF;
  --vscode-debugTokenExpression-value: #A6BCC999;
  --vscode-debugToolBar-background: #254D6A;
  --vscode-debugView-exceptionLabelBackground: #D95C5C;
  --vscode-debugView-exceptionLabelForeground: #FFFFFF;
  --vscode-debugView-stateLabelBackground: #33638044;
  --vscode-debugView-stateLabelForeground: #B8D0E0;
  --vscode-debugView-valueChangedHighlight: #0EADCF;
  --vscode-descriptionForeground: #8295A0;
  --vscode-diffEditor-diagonalFill: #A6BCC933;
  --vscode-diffEditor-insertedLineBackground: #44FFB133;
  --vscode-diffEditor-insertedTextBackground: #44FFB135;
  --vscode-diffEditor-move-border: #8295A09c;
  --vscode-diffEditor-moveActive-border: #FFE073;
  --vscode-diffEditor-removedLineBackground: #D95C5C33;
  --vscode-diffEditor-removedTextBackground: #D95C5C35;
  --vscode-diffEditor-unchangedCodeBackground: #2A5A7A29;
  --vscode-diffEditor-unchangedRegionBackground: #021A2C;
  --vscode-diffEditor-unchangedRegionForeground: #B8D0E0;
  --vscode-diffEditor-unchangedRegionShadow: #000000;
  --vscode-disabledForeground: #A6BCC980;
  --vscode-dropdown-background: #021A2C;
  --vscode-dropdown-border: #254D6A;
  --vscode-dropdown-foreground: #B8D0E0;
  --vscode-dropdown-listBackground: #021A2C;
  --vscode-editor-background: #03233A;
  --vscode-editor-compositionBorder: #B8D0E0;
  --vscode-editor-findMatchBackground: #FFE073bb;
  --vscode-editor-findMatchHighlightBackground: #FFE07355;
  --vscode-editor-findRangeHighlightBackground: #074F811a;
  --vscode-editor-focusedStackFrameHighlightBackground: #44FFB14d;
  --vscode-editor-foldBackground: #0EADCF0a;
  --vscode-editor-foldPlaceholderForeground: #336380;
  --vscode-editor-foreground: #CBE0F0;
  --vscode-editor-hoverHighlightBackground: #254D6A80;
  --vscode-editor-inactiveSelectionBackground: #0EADCF10;
  --vscode-editor-inlineValuesBackground: #FFE07333;
  --vscode-editor-inlineValuesForeground: #B8D0E080;
  --vscode-editor-lineHighlightBackground: #1effbc14;
  --vscode-editor-linkedEditingBackground: #D95C5C4d;
  --vscode-editor-placeholder-foreground: #33638056;
  --vscode-editor-rangeHighlightBackground: #074F8139;
  --vscode-editor-selectionBackground: #074F81;
  --vscode-editor-selectionHighlightBackground: #074F8120;
  --vscode-editor-snippetFinalTabstopHighlightBorder: #336380;
  --vscode-editor-snippetTabstopHighlightBackground: #2A5A7A4d;
  --vscode-editor-stackFrameHighlightBackground: #FFE07333;
  --vscode-editor-symbolHighlightBackground: #FFE07355;
  --vscode-editor-wordHighlightBackground: #074F8188;
  --vscode-editor-wordHighlightStrongBackground: #074F8188;
  --vscode-editor-wordHighlightTextBackground: #074F8188;
  --vscode-editorActionList-background: #01121Fdc;
  --vscode-editorActionList-focusBackground: #0EADCF20;
  --vscode-editorActionList-focusForeground: #FFFFFF;
  --vscode-editorActionList-foreground: #B8D0E0;
  --vscode-editorBracketHighlight-foreground1: #FFE073;
  --vscode-editorBracketHighlight-foreground2: #aa82ff;
  --vscode-editorBracketHighlight-foreground3: #22D4FF;
  --vscode-editorBracketHighlight-foreground4: #00000000;
  --vscode-editorBracketHighlight-foreground5: #00000000;
  --vscode-editorBracketHighlight-foreground6: #00000000;
  --vscode-editorBracketHighlight-unexpectedBracket-foreground: #D95C5Ccc;
  --vscode-editorBracketMatch-background: #074F8166;
  --vscode-editorBracketMatch-border: #0EADCF;
  --vscode-editorBracketPairGuide-activeBackground1: #00000000;
  --vscode-editorBracketPairGuide-activeBackground2: #00000000;
  --vscode-editorBracketPairGuide-activeBackground3: #00000000;
  --vscode-editorBracketPairGuide-activeBackground4: #00000000;
  --vscode-editorBracketPairGuide-activeBackground5: #00000000;
  --vscode-editorBracketPairGuide-activeBackground6: #00000000;
  --vscode-editorBracketPairGuide-background1: #00000000;
  --vscode-editorBracketPairGuide-background2: #00000000;
  --vscode-editorBracketPairGuide-background3: #00000000;
  --vscode-editorBracketPairGuide-background4: #00000000;
  --vscode-editorBracketPairGuide-background5: #00000000;
  --vscode-editorBracketPairGuide-background6: #00000000;
  --vscode-editorCodeLens-foreground: #B8D0E07c;
  --vscode-editorCommentsWidget-rangeActiveBackground: #074F811a;
  --vscode-editorCommentsWidget-rangeBackground: #074F811a;
  --vscode-editorCommentsWidget-replyInputBackground: #021A2C;
  --vscode-editorCommentsWidget-resolvedBorder: #A6BCC980;
  --vscode-editorCommentsWidget-unresolvedBorder: #074F81;
  --vscode-editorCursor-background: #02162B;
  --vscode-editorCursor-foreground: #47FF9C;
  --vscode-editorError-foreground: #D95C5C;
  --vscode-editorGhostText-foreground: #33638056;
  --vscode-editorGroup-border: #01121F;
  --vscode-editorGroup-dropBackground: #0EADCF4a;
  --vscode-editorGroup-dropIntoPromptBackground: #01121Fdc;
  --vscode-editorGroup-dropIntoPromptForeground: #B8D0E0;
  --vscode-editorGroupHeader-noTabsBackground: #03233A;
  --vscode-editorGroupHeader-tabsBackground: #03233A;
  --vscode-editorGutter-addedBackground: #44FFB1d6;
  --vscode-editorGutter-background: #03233A;
  --vscode-editorGutter-commentGlyphForeground: #A6BCC9;
  --vscode-editorGutter-commentRangeForeground: #254D6A;
  --vscode-editorGutter-commentUnresolvedGlyphForeground: #A6BCC9;
  --vscode-editorGutter-deletedBackground: #D95C5Ca4;
  --vscode-editorGutter-foldingControlForeground: #0EADCF;
  --vscode-editorGutter-itemBackground: #254D6A;
  --vscode-editorGutter-itemGlyphForeground: #A6BCC9;
  --vscode-editorGutter-modifiedBackground: #0EADCF8f;
  --vscode-editorHint-foreground: #B8D0E0b3;
  --vscode-editorHoverWidget-background: #01121Fdc;
  --vscode-editorHoverWidget-border: #0EADCF22;
  --vscode-editorHoverWidget-foreground: #B8D0E0;
  --vscode-editorHoverWidget-highlightForeground: #55FFCC;
  --vscode-editorHoverWidget-statusBarBackground: #01121Fdc;
  --vscode-editorIndentGuide-activeBackground1: #0EADCF;
  --vscode-editorIndentGuide-activeBackground2: #00000000;
  --vscode-editorIndentGuide-activeBackground3: #00000000;
  --vscode-editorIndentGuide-activeBackground4: #00000000;
  --vscode-editorIndentGuide-activeBackground5: #00000000;
  --vscode-editorIndentGuide-activeBackground6: #00000000;
  --vscode-editorIndentGuide-background1: #254D6A;
  --vscode-editorIndentGuide-background2: #00000000;
  --vscode-editorIndentGuide-background3: #00000000;
  --vscode-editorIndentGuide-background4: #00000000;
  --vscode-editorIndentGuide-background5: #00000000;
  --vscode-editorIndentGuide-background6: #00000000;
  --vscode-editorInfo-foreground: #22D4FF;
  --vscode-editorInlayHint-background: #021A2C1a;
  --vscode-editorInlayHint-foreground: #8295A0;
  --vscode-editorInlayHint-parameterBackground: #021A2C1a;
  --vscode-editorInlayHint-parameterForeground: #8295A0;
  --vscode-editorInlayHint-typeBackground: #021A2C1a;
  --vscode-editorInlayHint-typeForeground: #8295A0;
  --vscode-editorLightBulb-foreground: #FFE073;
  --vscode-editorLightBulbAi-foreground: #FFE073;
  --vscode-editorLightBulbAutoFix-foreground: #22D4FF;
  --vscode-editorLineNumber-activeForeground: #8FC5ED;
  --vscode-editorLineNumber-foreground: #4A7A9A;
  --vscode-editorLink-activeForeground: #22D4FF;
  --vscode-editorMarkerNavigation-background: #03233A;
  --vscode-editorMarkerNavigationError-background: #D95C5C;
  --vscode-editorMarkerNavigationError-headerBackground: #D95C5C1a;
  --vscode-editorMarkerNavigationInfo-background: #22D4FF;
  --vscode-editorMarkerNavigationInfo-headerBackground: #22D4FF1a;
  --vscode-editorMarkerNavigationWarning-background: #FFE073;
  --vscode-editorMarkerNavigationWarning-headerBackground: #FFE07314;
  --vscode-editorMinimap-inlineChatInserted: #44FFB120;
  --vscode-editorMultiCursor-primary-background: #02162B;
  --vscode-editorMultiCursor-primary-foreground: #47FF9C;
  --vscode-editorMultiCursor-secondary-background: #02162B;
  --vscode-editorMultiCursor-secondary-foreground: #47FF9C;
  --vscode-editorOverviewRuler-addedForeground: #44FFB199;
  --vscode-editorOverviewRuler-border: #074F81b3;
  --vscode-editorOverviewRuler-bracketMatchForeground: #8295A0;
  --vscode-editorOverviewRuler-commentForeground: #254D6A;
  --vscode-editorOverviewRuler-commentUnresolvedForeground: #254D6A;
  --vscode-editorOverviewRuler-commonContentForeground: #33638066;
  --vscode-editorOverviewRuler-currentContentForeground: #0EADCF80;
  --vscode-editorOverviewRuler-deletedForeground: #D95C5C99;
  --vscode-editorOverviewRuler-errorForeground: #D95C5Cdd;
  --vscode-editorOverviewRuler-findMatchForeground: #FFE07399;
  --vscode-editorOverviewRuler-incomingContentForeground: #22D4FF80;
  --vscode-editorOverviewRuler-infoForeground: #22D4FF;
  --vscode-editorOverviewRuler-inlineChatInserted: #44FFB120;
  --vscode-editorOverviewRuler-inlineChatRemoved: #D95C5C20;
  --vscode-editorOverviewRuler-modifiedForeground: #0EADCF99;
  --vscode-editorOverviewRuler-rangeHighlightForeground: #0EADCF99;
  --vscode-editorOverviewRuler-selectionHighlightForeground: #8295A0cc;
  --vscode-editorOverviewRuler-warningForeground: #FFE073;
  --vscode-editorOverviewRuler-wordHighlightForeground: #8295A0cc;
  --vscode-editorOverviewRuler-wordHighlightStrongForeground: #0EADCFcc;
  --vscode-editorOverviewRuler-wordHighlightTextForeground: #8295A0cc;
  --vscode-editorPane-background: #03233A;
  --vscode-editorRuler-foreground: #0EADCF80;
  --vscode-editorStickyScroll-background: #03233A;
  --vscode-editorStickyScroll-shadow: #021A2C;
  --vscode-editorStickyScrollHover-background: #254D6A;
  --vscode-editorSuggestWidget-background: #01121Fdc;
  --vscode-editorSuggestWidget-border: #0EADCF22;
  --vscode-editorSuggestWidget-focusHighlightForeground: #55FFCC;
  --vscode-editorSuggestWidget-foreground: #A6BCC9;
  --vscode-editorSuggestWidget-highlightForeground: #55FFCC;
  --vscode-editorSuggestWidget-selectedBackground: #0EADCF36;
  --vscode-editorSuggestWidget-selectedForeground: #FFFFFF;
  --vscode-editorSuggestWidgetStatus-foreground: #A6BCC980;
  --vscode-editorUnicodeHighlight-border: #FFE073;
  --vscode-editorUnnecessaryCode-opacity: #000000aa;
  --vscode-editorWarning-foreground: #FFE073;
  --vscode-editorWhitespace-foreground: #2A5A7A;
  --vscode-editorWidget-background: #01121Fdc;
  --vscode-editorWidget-border: #0EADCF22;
  --vscode-editorWidget-foreground: #B8D0E0;
  --vscode-editorWidget-resizeBorder: #0EADCF44;
  --vscode-errorForeground: #D95C5C;
  --vscode-extensionBadge-remoteBackground: #55FFCC;
  --vscode-extensionBadge-remoteForeground: #01121F;
  --vscode-extensionButton-background: #0EADCF;
  --vscode-extensionButton-foreground: #01121F;
  --vscode-extensionButton-hoverBackground: #1FBDE0;
  --vscode-extensionButton-prominentBackground: #55FFCC;
  --vscode-extensionButton-prominentForeground: #01121F;
  --vscode-extensionButton-prominentHoverBackground: #44FFB1;
  --vscode-extensionButton-separator: #01121F66;
  --vscode-extensionIcon-preReleaseForeground: #44FFB1;
  --vscode-extensionIcon-privateForeground: #B8D0E060;
  --vscode-extensionIcon-sponsorForeground: #aa82ff;
  --vscode-extensionIcon-starForeground: #FFE073;
  --vscode-extensionIcon-verifiedForeground: #55FFCC;
  --vscode-focusBorder: #0EADCF;
  --vscode-foreground: #A6BCC9;
  --vscode-git-blame-editorDecorationForeground: #8295A0;
  --vscode-gitDecoration-addedResourceForeground: #44FFB1;
  --vscode-gitDecoration-conflictingResourceForeground: #D95C5C;
  --vscode-gitDecoration-deletedResourceForeground: #D95C5C;
  --vscode-gitDecoration-ignoredResourceForeground: #A6BCC980;
  --vscode-gitDecoration-modifiedResourceForeground: #0EADCF;
  --vscode-gitDecoration-renamedResourceForeground: #44FFB1;
  --vscode-gitDecoration-stageDeletedResourceForeground: #D95C5C;
  --vscode-gitDecoration-stageModifiedResourceForeground: #FFE073;
  --vscode-gitDecoration-submoduleResourceForeground: #22D4FF;
  --vscode-gitDecoration-untrackedResourceForeground: #44FFB1;
  --vscode-icon-foreground: #A6BCC9;
  --vscode-inlineChat-background: #01121Fdc;
  --vscode-inlineChat-border: #0EADCF22;
  --vscode-inlineChat-foreground: #B8D0E0;
  --vscode-inlineChat-shadow: #021A2C;
  --vscode-inlineChatDiff-inserted: #44FFB11b;
  --vscode-inlineChatDiff-removed: #D95C5C1b;
  --vscode-inlineChatInput-background: #021A2C;
  --vscode-inlineChatInput-border: #0EADCF22;
  --vscode-inlineChatInput-focusBorder: #0EADCF;
  --vscode-inlineChatInput-placeholderForeground: #B8D0E080;
  --vscode-inlineEdit-gutterIndicator-background: #02162B80;
  --vscode-inlineEdit-gutterIndicator-primaryBackground: #0EADCF66;
  --vscode-inlineEdit-gutterIndicator-primaryBorder: #0EADCF;
  --vscode-inlineEdit-gutterIndicator-primaryForeground: #FFFFFF;
  --vscode-inlineEdit-gutterIndicator-secondaryBackground: #254D6A;
  --vscode-inlineEdit-gutterIndicator-secondaryBorder: #254D6A;
  --vscode-inlineEdit-gutterIndicator-secondaryForeground: #FFFFFF;
  --vscode-inlineEdit-gutterIndicator-successfulBackground: #0EADCF;
  --vscode-inlineEdit-gutterIndicator-successfulBorder: #0EADCF;
  --vscode-inlineEdit-gutterIndicator-successfulForeground: #FFFFFF;
  --vscode-inlineEdit-modifiedBackground: #44FFB110;
  --vscode-inlineEdit-modifiedBorder: #44FFB135;
  --vscode-inlineEdit-modifiedChangedLineBackground: #44FFB124;
  --vscode-inlineEdit-modifiedChangedTextBackground: #44FFB125;
  --vscode-inlineEdit-originalBackground: #D95C5C0b;
  --vscode-inlineEdit-originalBorder: #D95C5C35;
  --vscode-inlineEdit-originalChangedLineBackground: #D95C5C2a;
  --vscode-inlineEdit-originalChangedTextBackground: #D95C5C2a;
  --vscode-inlineEdit-tabWillAcceptModifiedBorder: #44FFB135;
  --vscode-inlineEdit-tabWillAcceptOriginalBorder: #D95C5C35;
  --vscode-input-background: #03233A;
  --vscode-input-border: #254D6A;
  --vscode-input-foreground: #B8D0E0;
  --vscode-input-placeholderForeground: #336380;
  --vscode-inputOption-activeBorder: #44FFB1;
  --vscode-inputOption-activeBackground: #0EADCF;
  --vscode-inputOption-activeForeground: #FFFFFF;
  --vscode-inputOption-hoverBackground: #33638080;
  --vscode-inputValidation-errorBackground: #D95C5C80;
  --vscode-inputValidation-errorBorder: #D95C5C00;
  --vscode-inputValidation-infoBackground: #0EADCF80;
  --vscode-inputValidation-infoBorder: #0EADCF;
  --vscode-inputValidation-warningBackground: #FFE07380;
  --vscode-inputValidation-warningBorder: #FFE073;
  --vscode-interactive-activeCodeBorder: #0EADCF;
  --vscode-interactive-inactiveCodeBorder: #0EADCF20;
  --vscode-keybindingLabel-background: #2A5A7A2b;
  --vscode-keybindingLabel-border: #33638099;
  --vscode-keybindingLabel-bottomBorder: #4A7A9A99;
  --vscode-keybindingLabel-foreground: #A6BCC9;
  --vscode-keybindingTable-headerBackground: #0EADCF0a;
  --vscode-keybindingTable-rowsBackground: #0EADCF0a;
  --vscode-list-activeSelectionBackground: #074F81;
  --vscode-list-activeSelectionForeground: #FFFFFF;
  --vscode-list-deemphasizedForeground: #8295A0;
  --vscode-list-dropBackground: #074F8166;
  --vscode-list-dropBetweenBackground: #0EADCF;
  --vscode-list-errorForeground: #D95C5Ce6;
  --vscode-list-filterMatchBackground: #55FFCC;
  --vscode-list-focusBackground: #043A61;
  --vscode-list-focusForeground: #FFFFFF;
  --vscode-list-focusHighlightForeground: #55FFCC;
  --vscode-list-focusOutline: #0EADCF;
  --vscode-list-highlightForeground: #55FFCC;
  --vscode-list-hoverBackground: #032842;
  --vscode-list-hoverForeground: #FFFFFF;
  --vscode-list-inactiveFocusBackground: #03284299;
  --vscode-list-inactiveSelectionBackground: #032842;
  --vscode-list-inactiveSelectionForeground: #A6BCC9;
  --vscode-list-invalidItemForeground: #FFE073;
  --vscode-list-warningForeground: #FFE073bb;
  --vscode-listFilterWidget-background: #01121Fdc;
  --vscode-listFilterWidget-noMatchesOutline: #D95C5C;
  --vscode-listFilterWidget-outline: #00000000;
  --vscode-listFilterWidget-shadow: #021A2C;
  --vscode-menu-background: #0c507adc;
  --vscode-menu-border: #0EADCF20;
  --vscode-menu-foreground: #B8D0E0;
  --vscode-menu-selectionBackground: #0EADCF36;
  --vscode-menu-selectionForeground: #FFFFFF;
  --vscode-menu-separatorBackground: #B8D0E026;
  --vscode-menubar-selectionBackground: #33638050;
  --vscode-menubar-selectionForeground: #A6BCC9;
  --vscode-merge-commonContentBackground: #33638029;
  --vscode-merge-commonHeaderBackground: #33638066;
  --vscode-merge-currentContentBackground: #0EADCF33;
  --vscode-merge-currentHeaderBackground: #0EADCF80;
  --vscode-merge-incomingContentBackground: #22D4FF33;
  --vscode-merge-incomingHeaderBackground: #22D4FF80;
  --vscode-mergeEditor-change-background: #44FFB133;
  --vscode-mergeEditor-change-word-background: #44FFB133;
  --vscode-mergeEditor-changeBase-background: #D95C5C18;
  --vscode-mergeEditor-changeBase-word-background: #D95C5C13;
  --vscode-mergeEditor-conflict-handled-minimapOverViewRuler: #8295A0ee;
  --vscode-mergeEditor-conflict-handledFocused-border: #0EADCFcc;
  --vscode-mergeEditor-conflict-handledUnfocused-border: #33638049;
  --vscode-mergeEditor-conflict-input1-background: #0EADCF33;
  --vscode-mergeEditor-conflict-input2-background: #22D4FF33;
  --vscode-mergeEditor-conflict-unhandled-minimapOverViewRuler: #FFE073;
  --vscode-mergeEditor-conflict-unhandledFocused-border: #FFE073;
  --vscode-mergeEditor-conflict-unhandledUnfocused-border: #FFE0737a;
  --vscode-mergeEditor-conflictingLines-background: #FFE07347;
  --vscode-minimap-chatEditHighlight: #02162B99;
  --vscode-minimap-errorHighlight: #D95C5Cb3;
  --vscode-minimap-findMatchHighlight: #FFE07380;
  --vscode-minimap-foregroundOpacity: #000000;
  --vscode-minimap-infoHighlight: #22D4FF;
  --vscode-minimap-selectionHighlight: #074F8180;
  --vscode-minimap-selectionOccurrenceHighlight: #33638080;
  --vscode-minimap-warningHighlight: #FFE073;
  --vscode-minimapGutter-addedBackground: #44FFB199;
  --vscode-minimapGutter-deletedBackground: #D95C5C;
  --vscode-minimapGutter-modifiedBackground: #0EADCF;
  --vscode-minimapSlider-activeBackground: #0EADCF10;
  --vscode-minimapSlider-background: #0EADCF18;
  --vscode-minimapSlider-hoverBackground: #0EADCF28;
  --vscode-multiDiffEditor-background: #03233A;
  --vscode-multiDiffEditor-headerBackground: #021A2C;
  --vscode-notebook-cellBorderColor: #0EADCF20;
  --vscode-notebook-cellEditorBackground: #021A2C;
  --vscode-notebook-cellInsertionIndicator: #0EADCF;
  --vscode-notebook-cellStatusBarItemHoverBackground: #0EADCF26;
  --vscode-notebook-cellToolbarSeparator: #33638059;
  --vscode-notebook-editorBackground: #03233A;
  --vscode-notebook-focusedCellBorder: #0EADCF;
  --vscode-notebook-focusedEditorBorder: #0EADCF;
  --vscode-notebook-inactiveFocusedCellBorder: #0EADCF20;
  --vscode-notebook-selectedCellBackground: #0EADCF20;
  --vscode-notebook-selectedCellBorder: #0EADCF20;
  --vscode-notebook-symbolHighlightBackground: #0EADCF0b;
  --vscode-notebookEditorOverviewRuler-runningCellForeground: #44FFB1;
  --vscode-notebookScrollbarSlider-activeBackground: #0EADCF20;
  --vscode-notebookScrollbarSlider-background: #0EADCF30;
  --vscode-notebookScrollbarSlider-hoverBackground: #0EADCF50;
  --vscode-notebookStatusErrorIcon-foreground: #D95C5C;
  --vscode-notebookStatusRunningIcon-foreground: #B8D0E0;
  --vscode-notebookStatusSuccessIcon-foreground: #44FFB1;
  --vscode-notificationCenterHeader-background: #01121Fdc;
  --vscode-notificationLink-foreground: #55FFCC;
  --vscode-notifications-background: #01121Fdc;
  --vscode-notifications-border: #01121Fdc;
  --vscode-notifications-foreground: #B8D0E0;
  --vscode-notificationsErrorIcon-foreground: #D95C5C;
  --vscode-notificationsInfoIcon-foreground: #22D4FF;
  --vscode-notificationsWarningIcon-foreground: #FFE073;
  --vscode-panel-background: #03233A;
  --vscode-panel-border: #33638059;
  --vscode-panel-dropBorder: #55FFCC;
  --vscode-panelSection-border: #33638059;
  --vscode-panelSection-dropBackground: #0EADCF4a;
  --vscode-panelSectionHeader-background: #33638033;
  --vscode-panelStickyScroll-background: #03233A;
  --vscode-panelStickyScroll-shadow: #021A2C;
  --vscode-panelTitle-activeBorder: #55FFCC;
  --vscode-panelTitle-activeForeground: #D0E0F0;
  --vscode-panelTitle-inactiveForeground: #D0E0F099;
  --vscode-panelTitleBadge-background: #55FFCC;
  --vscode-panelTitleBadge-foreground: #01121F;
  --vscode-peekView-border: #0EADCF;
  --vscode-peekViewEditor-background: #03233A;
  --vscode-peekViewEditor-matchHighlightBackground: #FFE073bb;
  --vscode-peekViewEditorGutter-background: #011423;
  --vscode-peekViewEditorStickyScroll-background: #011423;
  --vscode-peekViewResult-background: #021A2C;
  --vscode-peekViewResult-fileForeground: #B8D0E0;
  --vscode-peekViewResult-lineForeground: #A6BCC9;
  --vscode-peekViewResult-matchHighlightBackground: #FFE07355;
  --vscode-peekViewResult-selectionBackground: #021A2C80;
  --vscode-peekViewResult-selectionForeground: #FFFFFF;
  --vscode-peekViewTitle-background: #01121F;
  --vscode-peekViewTitleDescription-foreground: #8295A0;
  --vscode-peekViewTitleLabel-foreground: #A6BCC9;
  --vscode-pickerGroup-border: #254D6A;
  --vscode-pickerGroup-foreground: #55FFCCea;
  --vscode-ports-iconRunningProcessForeground: #55FFCC;
  --vscode-problemsErrorIcon-foreground: #D95C5C;
  --vscode-problemsInfoIcon-foreground: #22D4FF;
  --vscode-problemsWarningIcon-foreground: #FFE073;
  --vscode-profileBadge-background: #254D6A;
  --vscode-profileBadge-foreground: #B8D0E0;
  --vscode-profiles-sashBorder: #33638059;
  --vscode-progressBar-background: #55FFCC;
  --vscode-quickInput-background: #0c507adc;
  --vscode-quickInput-foreground: #B8D0E0;
  --vscode-quickInputList-focusBackground: #032842;
  --vscode-quickInputList-focusForeground: #FFFFFF;
  --vscode-quickInputTitle-background: #0EADCF1b;
  --vscode-radio-activeBackground: #0EADCF66;
  --vscode-radio-activeBorder: #55FFCC99;
  --vscode-radio-activeForeground: #FFFFFF;
  --vscode-radio-inactiveBorder: #B8D0E033;
  --vscode-radio-inactiveHoverBackground: #33638080;
  --vscode-remoteHub-decorations-addedForegroundColor: #44FFB1;
  --vscode-remoteHub-decorations-conflictForegroundColor: #D95C5C;
  --vscode-remoteHub-decorations-deletedForegroundColor: #D95C5C;
  --vscode-remoteHub-decorations-ignoredResourceForeground: #8295A0;
  --vscode-remoteHub-decorations-incomingAddedForegroundColor: #44FFB1;
  --vscode-remoteHub-decorations-incomingDeletedForegroundColor: #D95C5C;
  --vscode-remoteHub-decorations-incomingModifiedForegroundColor: #FFE073;
  --vscode-remoteHub-decorations-incomingRenamedForegroundColor: #44FFB1;
  --vscode-remoteHub-decorations-modifiedForegroundColor: #FFE073;
  --vscode-remoteHub-decorations-possibleConflictForegroundColor: #FFE073bb;
  --vscode-remoteHub-decorations-submoduleForegroundColor: #22D4FF;
  --vscode-remoteHub-decorations-workspaceRepositoriesView-hasUncommittedChangesForegroundColor: #FFE073;
  --vscode-sash-hoverBorder: #0EADCF;
  --vscode-scmGraph-foreground1: #FFE073;
  --vscode-scmGraph-foreground2: #aa82ff;
  --vscode-scmGraph-foreground3: #D95C5C;
  --vscode-scmGraph-foreground4: #0EADCF;
  --vscode-scmGraph-foreground5: #22D4FF;
  --vscode-scmGraph-historyItemBaseRefColor: #FFE073;
  --vscode-scmGraph-historyItemHoverAdditionsForeground: #44FFB1;
  --vscode-scmGraph-historyItemHoverDefaultLabelBackground: #021A2C;
  --vscode-scmGraph-historyItemHoverDefaultLabelForeground: #B8D0E0;
  --vscode-scmGraph-historyItemHoverDeletionsForeground: #D95C5C;
  --vscode-scmGraph-historyItemHoverLabelForeground: #B8D0E0;
  --vscode-scmGraph-historyItemRefColor: #22D4FF;
  --vscode-scmGraph-historyItemRemoteRefColor: #aa82ff;
  --vscode-scrollbar-shadow: #021A2C;
  --vscode-scrollbarSlider-activeBackground: #0EADCF20;
  --vscode-scrollbarSlider-background: #0EADCF30;
  --vscode-scrollbarSlider-hoverBackground: #0EADCF50;
  --vscode-search-resultsInfoForeground: #B8D0E0a6;
  --vscode-searchEditor-findMatchBackground: #FFE07338;
  --vscode-selection-background: #074F81;
  --vscode-settings-checkboxBackground: #021A2C;
  --vscode-settings-checkboxBorder: #254D6A;
  --vscode-settings-checkboxForeground: #B8D0E0;
  --vscode-settings-dropdownBackground: #021A2C;
  --vscode-settings-dropdownBorder: #254D6A;
  --vscode-settings-dropdownForeground: #B8D0E0;
  --vscode-settings-dropdownListBorder: #0EADCF22;
  --vscode-settings-focusedRowBackground: #254D6A5c;
  --vscode-settings-focusedRowBorder: #0EADCF;
  --vscode-settings-headerBorder: #33638059;
  --vscode-settings-headerForeground: #D0E0F0;
  --vscode-settings-modifiedItemIndicator: #0EADCF;
  --vscode-settings-numberInputBackground: #021A2C;
  --vscode-settings-numberInputForeground: #B8D0E0;
  --vscode-settings-rowHoverBackground: #254D6A2e;
  --vscode-settings-sashBorder: #33638059;
  --vscode-settings-settingsHeaderHoverForeground: #D0E0F0b3;
  --vscode-settings-textInputBackground: #021A2C;
  --vscode-settings-textInputForeground: #B8D0E0;
  --vscode-sideBar-background: #03233A;
  --vscode-sideBar-dropBackground: #074F814c;
  --vscode-sideBar-foreground: #A6BCC9;
  --vscode-sideBar-border: #01121F;
  --vscode-sideBarSectionHeader-background: #03233A;
  --vscode-sideBarSectionHeader-foreground: #D0E0F0;
  --vscode-sideBarStickyScroll-background: #021A2C;
  --vscode-sideBarStickyScroll-shadow: #021A2C;
  --vscode-sideBarTitle-background: #03233A;
  --vscode-sideBarTitle-foreground: #D0E0F0;
  --vscode-sideBySideEditor-horizontalBorder: #0EADCF;
  --vscode-sideBySideEditor-verticalBorder: #0EADCF;
  --vscode-simpleFindWidget-sashBorder: #254D6A;
  --vscode-statusBar-background: #03233A;
  --vscode-statusBar-debuggingBackground: #55FFCC;
  --vscode-statusBar-debuggingForeground: #01121F;
  --vscode-statusBar-focusBorder: #B8D0E080;
  --vscode-statusBar-foreground: #A6BCC9;
  --vscode-statusBar-border: #254D6A;
  --vscode-statusBar-noFolderBackground: #03233A;
  --vscode-statusBar-noFolderForeground: #A6BCC980;
  --vscode-statusBarItem-activeBackground: #0EADCF2e;
  --vscode-statusBarItem-compactHoverBackground: #0EADCF33;
  --vscode-statusBarItem-errorBackground: #D95C5C;
  --vscode-statusBarItem-errorForeground: #FFFFFF;
  --vscode-statusBarItem-errorHoverBackground: #0EADCF1f;
  --vscode-statusBarItem-errorHoverForeground: #B8D0E080;
  --vscode-statusBarItem-focusBorder: #B8D0E080;
  --vscode-statusBarItem-hoverBackground: #0EADCF1f;
  --vscode-statusBarItem-hoverForeground: #B8D0E080;
  --vscode-statusBarItem-offlineBackground: #D95C5C;
  --vscode-statusBarItem-offlineForeground: #01121F;
  --vscode-statusBarItem-offlineHoverBackground: #0EADCF1f;
  --vscode-statusBarItem-offlineHoverForeground: #B8D0E080;
  --vscode-statusBarItem-prominentBackground: #021A2C;
  --vscode-statusBarItem-prominentForeground: #B8D0E080;
  --vscode-statusBarItem-prominentHoverBackground: #074F81;
  --vscode-statusBarItem-prominentHoverForeground: #B8D0E080;
  --vscode-statusBarItem-remoteBackground: #0EADCF;
  --vscode-statusBarItem-remoteForeground: #FFFFFF;
  --vscode-statusBarItem-remoteHoverBackground: #0EADCF1f;
  --vscode-statusBarItem-remoteHoverForeground: #B8D0E080;
  --vscode-statusBarItem-warningBackground: #FFE073;
  --vscode-statusBarItem-warningForeground: #01121F;
  --vscode-statusBarItem-warningHoverBackground: #0EADCF1f;
  --vscode-statusBarItem-warningHoverForeground: #B8D0E080;
  --vscode-symbolIcon-arrayForeground: #B8D0E0;
  --vscode-symbolIcon-booleanForeground: #B8D0E0;
  --vscode-symbolIcon-classForeground: #FFE073;
  --vscode-symbolIcon-colorForeground: #B8D0E0;
  --vscode-symbolIcon-constantForeground: #B8D0E0;
  --vscode-symbolIcon-constructorForeground: #aa82ff;
  --vscode-symbolIcon-enumeratorForeground: #FFE073;
  --vscode-symbolIcon-enumeratorMemberForeground: #22D4FF;
  --vscode-symbolIcon-eventForeground: #FFE073;
  --vscode-symbolIcon-fieldForeground: #22D4FF;
  --vscode-symbolIcon-fileForeground: #B8D0E0;
  --vscode-symbolIcon-folderForeground: #B8D0E0;
  --vscode-symbolIcon-functionForeground: #aa82ff;
  --vscode-symbolIcon-interfaceForeground: #22D4FF;
  --vscode-symbolIcon-keyForeground: #B8D0E0;
  --vscode-symbolIcon-keywordForeground: #B8D0E0;
  --vscode-symbolIcon-methodForeground: #aa82ff;
  --vscode-symbolIcon-moduleForeground: #B8D0E0;
  --vscode-symbolIcon-namespaceForeground: #B8D0E0;
  --vscode-symbolIcon-nullForeground: #B8D0E0;
  --vscode-symbolIcon-numberForeground: #B8D0E0;
  --vscode-symbolIcon-objectForeground: #B8D0E0;
  --vscode-symbolIcon-operatorForeground: #B8D0E0;
  --vscode-symbolIcon-packageForeground: #B8D0E0;
  --vscode-symbolIcon-propertyForeground: #B8D0E0;
  --vscode-symbolIcon-referenceForeground: #B8D0E0;
  --vscode-symbolIcon-snippetForeground: #B8D0E0;
  --vscode-symbolIcon-stringForeground: #B8D0E0;
  --vscode-symbolIcon-structForeground: #B8D0E0;
  --vscode-symbolIcon-textForeground: #B8D0E0;
  --vscode-symbolIcon-typeParameterForeground: #B8D0E0;
  --vscode-symbolIcon-unitForeground: #B8D0E0;
  --vscode-symbolIcon-variableForeground: #22D4FF;
  --vscode-tab-activeBackground: #03233A;
  --vscode-tab-activeBorder: #880088;
  --vscode-tab-activeBorderTop: #55FFCC;
  --vscode-tab-activeForeground: #FFFFFF;
  --vscode-tab-activeModifiedBorder: #0EADCF;
  --vscode-tab-border: #021A2C;
  --vscode-tab-dragAndDropBorder: #FFFFFF;
  --vscode-tab-inactiveBackground: #03233A;
  --vscode-tab-inactiveForeground: #8295A0;
  --vscode-tab-inactiveModifiedBorder: #0EADCF80;
  --vscode-tab-lastPinnedBorder: #336380;
  --vscode-tab-selectedBackground: #03233A;
  --vscode-tab-selectedForeground: #FFFFFF;
  --vscode-tab-unfocusedActiveBackground: #03233A;
  --vscode-tab-unfocusedActiveBorder: #88008880;
  --vscode-tab-unfocusedActiveForeground: #B8D0E080;
  --vscode-tab-unfocusedActiveModifiedBorder: #0EADCF80;
  --vscode-tab-unfocusedInactiveBackground: #03233A;
  --vscode-tab-unfocusedInactiveForeground: #8295A040;
  --vscode-tab-unfocusedInactiveModifiedBorder: #0EADCF40;
  --vscode-terminal-background: #03233A;
  --vscode-terminal-ansiBlack: #214969;
  --vscode-terminal-ansiRed: #E52E2E;
  --vscode-terminal-ansiGreen: #44FFB1;
  --vscode-terminal-ansiYellow: #FFE073;
  --vscode-terminal-ansiBlue: #0FC5ED;
  --vscode-terminal-ansiMagenta: #aa82ff;
  --vscode-terminal-ansiCyan: #24EAF7;
  --vscode-terminal-ansiWhite: #CBE0F0;
  --vscode-terminal-ansiBrightBlack: #2A5A7A;
  --vscode-terminal-ansiBrightRed: #FF4444;
  --vscode-terminal-ansiBrightGreen: #55FFCC;
  --vscode-terminal-ansiBrightYellow: #FFEE88;
  --vscode-terminal-ansiBrightBlue: #22D4FF;
  --vscode-terminal-ansiBrightMagenta: #B388FF;
  --vscode-terminal-ansiBrightCyan: #33FFFF;
  --vscode-terminal-ansiBrightWhite: #FFFFFF;
  --vscode-terminal-border: #33638059;
  --vscode-terminal-dropBackground: #0EADCF4a;
  --vscode-terminal-findMatchBackground: #FFE073bb;
  --vscode-terminal-findMatchHighlightBackground: #FFE07355;
  --vscode-terminal-foreground: #CBE0F0;
  --vscode-terminal-hoverHighlightBackground: #254D6A80;
  --vscode-terminal-inactiveSelectionBackground: #0EADCF10;
  --vscode-terminal-initialHintForeground: #33638056;
  --vscode-terminal-selectionBackground: #074F81;
  --vscode-terminal-tab-activeBorder: #880088;
  --vscode-terminalCommandDecoration-defaultBackground: #B8D0E040;
  --vscode-terminalCommandDecoration-errorBackground: #D95C5C;
  --vscode-terminalCommandDecoration-successBackground: #0EADCF;
  --vscode-terminalCommandGuide-foreground: #0EADCF20;
  --vscode-terminalCursor-background: #47FF9C;
  --vscode-terminalCursor-foreground: #47FF9C;
  --vscode-terminalOverviewRuler-border: #074F81b3;
  --vscode-terminalOverviewRuler-cursorForeground: #8295A0cc;
  --vscode-terminalOverviewRuler-findMatchForeground: #FFE07399;
  --vscode-terminalStickyScrollHover-background: #254D6A;
  --vscode-terminalSymbolIcon-aliasForeground: #aa82ff;
  --vscode-terminalSymbolIcon-argumentForeground: #22D4FF;
  --vscode-terminalSymbolIcon-fileForeground: #B8D0E0;
  --vscode-terminalSymbolIcon-flagForeground: #FFE073;
  --vscode-terminalSymbolIcon-folderForeground: #B8D0E0;
  --vscode-terminalSymbolIcon-methodForeground: #aa82ff;
  --vscode-terminalSymbolIcon-optionForeground: #FFE073;
  --vscode-terminalSymbolIcon-optionValueForeground: #22D4FF;
  --vscode-testing-coverCountBadgeBackground: #021A2C;
  --vscode-testing-coverCountBadgeForeground: #B8D0E0;
  --vscode-testing-coveredBackground: #44FFB135;
  --vscode-testing-coveredBorder: #44FFB128;
  --vscode-testing-coveredGutterBackground: #44FFB120;
  --vscode-testing-iconErrored: #D95C5C;
  --vscode-testing-iconErrored-retired: #D95C5Cb3;
  --vscode-testing-iconFailed: #D95C5C;
  --vscode-testing-iconFailed-retired: #D95C5Cb3;
  --vscode-testing-iconPassed: #44FFB1;
  --vscode-testing-iconPassed-retired: #44FFB1b3;
  --vscode-testing-iconQueued: #FFE073;
  --vscode-testing-iconQueued-retired: #FFE073b3;
  --vscode-testing-iconSkipped: #336380;
  --vscode-testing-iconSkipped-retired: #336380b3;
  --vscode-testing-iconUnset: #336380;
  --vscode-testing-iconUnset-retired: #336380b3;
  --vscode-testing-message-error-badgeBackground: #D95C5C;
  --vscode-testing-message-error-badgeBorder: #D95C5C;
  --vscode-testing-message-error-badgeForeground: #FFFFFF;
  --vscode-testing-message-info-decorationForeground: #A6BCC980;
  --vscode-testing-messagePeekBorder: #22D4FF;
  --vscode-testing-messagePeekHeaderBackground: #22D4FF1a;
  --vscode-testing-peekBorder: #D95C5C;
  --vscode-testing-peekHeaderBackground: #D95C5C1a;
  --vscode-testing-runAction: #44FFB1;
  --vscode-testing-uncoveredBackground: #D95C5C35;
  --vscode-testing-uncoveredBorder: #D95C5C28;
  --vscode-testing-uncoveredBranchBackground: #D95C5C40;
  --vscode-testing-uncoveredGutterBackground: #D95C5C50;
  --vscode-textBlockQuote-background: #021A2C;
  --vscode-textBlockQuote-border: #0EADCF80;
  --vscode-textCodeBlock-background: #021A2C;
  --vscode-textLink-activeForeground: #55FFCC;
  --vscode-textLink-foreground: #22D4FF;
  --vscode-textPreformat-background: #0EADCF1a;
  --vscode-textPreformat-foreground: #FFE073;
  --vscode-textSeparator-foreground: #0EADCF2e;
  --vscode-titleBar-activeBackground: #021A2C;
  --vscode-titleBar-activeForeground: #A6BCC9;
  --vscode-titleBar-inactiveBackground: #021A2C;
  --vscode-titleBar-inactiveForeground: #8295A0;
  --vscode-toolbar-activeBackground: #33638050;
  --vscode-toolbar-hoverBackground: #33638050;
  --vscode-tree-inactiveIndentGuidesStroke: #2A5A7A66;
  --vscode-tree-indentGuidesStroke: #2A5A7A;
  --vscode-tree-tableColumnsBorder: #A6BCC920;
  --vscode-tree-tableOddRowsBackground: #0EADCF0a;
  --vscode-walkThrough-embeddedEditorBackground: #021A2C;
  --vscode-walkthrough-stepTitle-foreground: #B8D0E0;
  --vscode-welcomePage-progress-background: #021A2C;
  --vscode-welcomePage-progress-foreground: #55FFCC;
  --vscode-welcomePage-tileBackground: #01121Fdc;
  --vscode-welcomePage-tileBorder: #0EADCF1a;
  --vscode-welcomePage-tileHoverBackground: #01121Fdc;
  --vscode-widget-shadow: #00000030;
}
